body{
    background-color: lightgray;
}
main{
    display:block;
}
h1{
    text-align: center;
}
.example{
    border:3px solid forestgreen;
    margin-right:10px;
    padding: 30px;
    line-height: 2;
    background-color:lightcyan;
}
.notes{
    margin:auto 0;
    text-align: center;
}
.reading{
    line-height: 2;
    margin-left:15px;
}
span a{
    color:black;
    border:2px solid white;
    padding:15px;
    

}

@media only screen and (min-width:65em){


main{
    display:flex;
}
span{
    float:right;
}
}